<div class="judicial-container">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo-container" (click)="navigateToHome()">
      <img src="assets/images/scales-of-justice.svg" alt="Justice Logo" class="logo">
      <span class="title">Justice System</span>
    </div>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-nav-list>
        <h3 matSubheader>Judicial Portal</h3>
        <a mat-list-item routerLink="dashboard" routerLinkActive="active">
          <mat-icon matListIcon>dashboard</mat-icon>
          <span matLine>Dashboard</span>
        </a>
        <a mat-list-item routerLink="case-management" routerLinkActive="active">
          <mat-icon matListIcon>gavel</mat-icon>
          <span matLine>Case Management</span>
        </a>
        <a mat-list-item routerLink="lex-predict" routerLinkActive="active">
          <mat-icon matListIcon>analytics</mat-icon>
          <span matLine>LexPredict</span>
        </a>
        <mat-divider></mat-divider>
        <h3 matSubheader>User Management</h3>
        <a mat-list-item routerLink="user-management/login" routerLinkActive="active">
          <mat-icon matListIcon>login</mat-icon>
          <span matLine>Login</span>
        </a>
        <a mat-list-item routerLink="user-management/register" routerLinkActive="active">
          <mat-icon matListIcon>person_add</mat-icon>
          <span matLine>Register</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
